{% block vipps_mobilepay_info_box %}
    <div class="info-box-container">
        <div class="content">
            <div class="info-box-title">
                {{ $tc('vipps-mobilepay.info-box.title') }}
            </div>
            <div class="info-box">
                {{ $tc('vipps-mobilepay.info-box.information') }}
            </div>
        </div>
    </div>
{% endblock %}